.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #555 !important;
}
 
.info-div {
    white-space:nowrap;
    text-align:center;
}

.box {
    background-color: coral;
    width: 30%;
    display:inline-block;
    margin:10px 0;
    border-radius:5px;
}

.text {
    padding: 20px 0;
    color:black;
    font-weight:bold;
    text-align:center;
}

.scroll{
    max-height: 450px;
    overflow-y: hidden;
}

.custom-width {
    width: 60% !important;
}

.full-width {
    width: 100% !important;
}

#UserGrid {
    margin-top: 17px;
}

#PurchasersLedgerGrid {
    margin-top: 10px;
}

.info-div-ledger {
    white-space:nowrap;
    text-align:center;
}

.box-ledger {
	 width: 68%;
	 display: inline-block;
	 margin: 5px 0;
	 border-radius: 5px;
}

.text-ledger {
	 padding: 10px 0;
	 text-align:center;
}

.fieldLabel-ledger {
	width: 30%;
	display: inline-block;
	margin: 5px 0px;
	border-radius: 5px;
}

.user-fieldLabel-ledger {
	width: 15%;
	display: inline-block;
	margin: 5px 0px;
	border-radius: 5px;
}

.header {
    margin-top: 80px;
}

.errorHighlight { 
    border: 1px solid #CC0000; 
} 

.textinput { 
    border: 1px silver solid;
}

@media screen and (min-width: 1200px){
    .marginTop{
        margin-top: -38px;
    }
}

/* Modal Data inputs */
dd {
    margin-bottom: 8px;
}

dt {
    margin-top: 8px;
}


/* Body styles */
.bodytopindent {
	padding-top: 65px;
}

.footer-bottom-indent {
	padding-bottom: 150px;
}

/* Border customize */
.border-custom {
	border-radius: 0 !important;
}

/* Error message Login */
.error {
	color: red;
	font-size: 12px;
	padding-bottom: 15px;
}


/* Jumbotron Styles Customize */
.jumbotron-padding {
  	padding: 10px;
  	padding-bottom: 30px;
  	border-radius: 0 !important;
  	background-color: #E0E0D1;
}
		

/* Panel Styles inside the Jumbotron Customize */
.panel-green {
    border-color: #005C1F;
    background-color: #005C1F;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-green-footer {
    color : #005C1F;
  	border-radius: 0 !important;
}

.panel-yellow {
    border-color: #A1A10F;
    background-color: #A1A10F;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-yellow-footer {
    color: #A1A10F;
  	border-radius: 0 !important;
}

.panel-red {
    border-color: #990000;
    background-color: #990000;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-red-footer {
    color: #990000;
  	border-radius: 0 !important;
}

.panel-violet {
    border-color: #400056;
    background-color: #400056;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-violet-footer {
    color: #400056;
  	border-radius: 0 !important;
}

.panel-brown {
    border-color: #996633;
    background-color: #996633;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-brown-footer {
    color: #996633;
  	border-radius: 0 !important;
}

.panel-pink {
    border-color: #801A66;
    background-color: #801A66;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-pink-footer {
    color: #801A66;
  	border-radius: 0 !important;
}

.panel-gray {
    border-color: #363632;
    background-color: #363632;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-gray-footer {
    color: #363632;
  	border-radius: 0 !important;
}


.panel-orange {
    border-color: #FF6C47;
    background-color: #FF6C47;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-orange-footer {
    color: #FF6C47;
  	border-radius: 0 !important;
}

.panel-prim {
	box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}

.panel-dark-green {
    border-color: #003300;
    background-color: #003300;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-dark-green-footer {
    color: #003300;
  	border-radius: 0 !important;
}

.panel-brownish {
    border-color: #663300;
    background-color: #663300;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-brownish-footer {
    color: #663300;
  	border-radius: 0 !important;
}

.panel-dark-brown {
    border-color: #993333;
    background-color: #993333;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-dark-brown-footer {
    color: #993333;
  	border-radius: 0 !important;
}

.panel-dark-blue {
    border-color: #003366;
    background-color: #003366;
    color: #ffffff;
    box-shadow: 7px 7px 10px 1px grey;
  	border-radius: 0 !important;
}
.panel-dark-blue-footer {
    color: #003366;
  	border-radius: 0 !important;
}

/* Menu caret changes */
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

/* Footer Styles */
.footer-style {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 0;
	padding-right: 0;
}

.footer-margin {
	margin-bottom: 8px;
}

.footer-details-style {
	font-size: 13px;
	font-family: Arial;
	color: #AAAFAF;
	margin: 0 !important;
}

.footer-data-style {
	color: white;
	margin: 0 !important;
}

.footer-title-style {
	font-size: 13px;
	font-family: Arial;
	color: white;
	margin: 0 !important;
}

.footer-column-style {
	padding-top: 6px;
}


/* Panel Customize for forms */
.panel-body-border {
	border-color: #c0c0c0;
	border-radius: 0 !important;	
}
.panel-title-custom {
	text-align: left;
}

.message-not-resizable {
	resize: none;
}

/* modal style */
.modal-wide {
	width: 75%;
}

/* Input Style */
.autocomplete-wide {
	margin-top: 3px;
	width: 100%;
	border-radius: 0 !important;	
}
.textbox-size {
	resize: none;
}
